.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 801px;
	min-height: 416px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
	padding: 22px 89px 62px 70px;
}

#u103
{
	z-index: 2;
	width: 799px;
	height: 249px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	position: relative;
}

#u104
{
	z-index: 3;
	width: 799px;
	height: 499px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

body
{
	padding-top: 35px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

